@import palette

#upload
 border 1px solid black
 background-image url(/images/noise.png)

#paypal
 text-align center
 width 450px

#status
 //background-image linear-gradient-image(60px top, black 0%, acquaProfonda 5%, abisso 100%)
 background-image none
 background-color abisso

#transfer .progress
 background-image linear-gradient-image(40px top, abisso 0%, acquaProfonda 120%)

#transfer .done
 background-image linear-gradient-image(30px top, acqua 0%, acquaProfonda 100%)

#transfer .upgrade
 background-color abisso
 background-image url(/images/upgrade.png)

#transfer .plus
 display none

.option
 border 1px solid black
 background-image url(/images/noise.png)