terraTerra = rgb(232, 221, 203)
terra = rgb(205, 179, 128)
acqua = rgb(3, 101, 100) 
acquaProfonda = rgb(3, 54, 73)
abisso = rgb(3, 22, 52)

terraTerraTransparent = rgba(232, 221, 203, 0.8)
acquaTransparent = rgb(3, 101, 100, 0.1) 