body
 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
 color: #00B7FF

.template
 display: none

.file
 width: 128px
 float: left

.file .name
 text-align: center

#user
 position: absolute
 top: 10px
 right: 10px
 border-radius 10px

.login
 display none
 cursor pointer
 border-radius 10px

.logout
 display none

.logout .icon
 width 50px
 height 50px
 border-radius 10px
 vertical-align middle

.logout .name
 font-size: 24px
 margin-left: 10px
 vertical-align: middle
 padding 0px 10px 0px 10px

.file .name
 font-size: 18px

#headline
 font-size 32px
 position fixed
 top 70px
 right 0px
 bottom 70px
 left 0px
 text-align center
 display table-cell
 vertical-align middle
 padding-top 100px
 overflow scroll
 z-index -2

#dropbox
 font-size 32px
 position fixed
 top 0px
 right 0px
 bottom 70px
 left 0px
 text-align center
 display table-cell
 vertical-align middle
 padding-top 100px
 overflow auto
 overflow-x hidden
 z-index -1

#trash
 display none
 position fixed
 right 0px
 bottom 70px
 background-color red
 height 200px
 width 200px
 background url(/images/trash.png) center center no-repeat
 border 1px solid

#pay
 position fixed
 display none
 right 0px
 left 0px
 bottom 70px
 margin auto
 height 100px
 text-align center

#paypal
 position fixed
 width 100%
 margin auto

select
 font-size 24px

#status
 text-align center
 font-size 32px
 height 50px
 position fixed
 right -10px
 bottom 0px
 left -10px
 padding-top 20px 
 background-image -webkit-linear-gradient(top, rgb(113, 125, 140) 0%, rgb(113, 125, 140) 100%)
 -webkit-box-shadow inset 0px 5px 10px 0px #000

#transfer
 position fixed
 right 100px
 bottom 10px
 left 100px 
 width 300px
 height 30px
 margin auto
 background-color white
 border-radius 10px
 padding 5px

#transfer .used
 background-color gray
 width 0px
 height 30px
 border-radius 10px

#upgrade
 position fixed
 padding 0px
 right 100px
