terraTerra = rgb(232, 221, 203)
terra = rgb(205, 179, 128)
acqua = rgb(3, 101, 100) 
acquaProfonda = rgb(3, 54, 73)
abisso = rgb(3, 22, 52)

terraTerraTransparent = rgba(232, 221, 203, 0.8)
acquaTransparent = rgb(3, 101, 100, 0.1) 

body
 font 24px "Lucida Grande", Helvetica, Arial, sans-serif
 background terraTerra url(/images/noise.png)

.label
 color transparent
 -webkit-background-clip: text;
 //background-color white
 background-color: black;
 text-shadow: terraTerraTransparent 0px 2px 2px;

a
 text-decoration none

.template
 display none

.file
 display none
 width 128px
 float left
 position absolute
 background transparent

.file .icon
 height 128px
 width 128px
 background url('/images/file.png') center center no-repeat
 text-align center
 padding 0px
 border 1px solid transparent
 border-radius 10px

.file .name
 color black
 text-align: center

.file .progress
 display none
 background-color white
 width 70px
 height 20px
 margin 80px 24px 20px 24px
 border-radius 10px
 padding 5px
 background-image -webkit-linear-gradient(top, acquaProfonda 0%, acqua 120%)
 -webkit-box-shadow inset 0px 0px 10px 0px #000

.file .done
 width 0px
 height 20px
 border-radius 10px
 margin 0px
 padding 0px
 background-image -webkit-linear-gradient(top, terraTerra 0%, terra 100%)

#user
 position: absolute
 top: 10px
 right: 10px
 border-radius 10px

#user .icon
 width 50px
 height 50px
 border-radius 10px
 vertical-align middle
 -webkit-box-shadow 0px 2px 2px 0px #000

#user .name
 font-size: 24px
 margin-left: 10px
 vertical-align: middle
 padding 0px 10px 0px 10px

.login
 display none
 cursor pointer
 border-radius 10px

.info
 display none

.info .logout
 display none
 cursor pointer
 position fixed
 top 45px
 right 20px
 font-size 14px

.file .name
 font-size: 18px

#headline
 display none
 font-size 32px
 position fixed
 top 70px
 right 0px
 bottom 70px
 left 0px
 text-align center
 vertical-align middle
 padding-top 100px
 overflow scroll
 z-index -2

#dropbox
 font-size 32px
 position fixed
 top 0px
 right 0px
 bottom 70px
 left 0px
 text-align center
 display table-cell
 vertical-align middle
 padding-top 100px
 overflow auto
 overflow-x hidden
 z-index -1

#trash
 display none
 position fixed
 right 0px
 bottom 70px
 background-color red
 height 200px
 width 200px
 background url(/images/trash.png) center center no-repeat

#pay
 position fixed
 display none
 left 0px
 right 0px
 bottom 200px
 //border 1px solid red

#paypal
 text-align center
 width 422px
 height 145px
 margin auto
 background terraTerra url(/images/noise.png)
 //border 1px solid red
 border-radius 20px

.buy
 cursor pointer
 width 200px
 height 40px
 border-radius 10px
 margin 160px auto 0px auto
 padding-top 10px
 background-image -webkit-linear-gradient(top, terra 0%, terraTerra 100%)
 -webkit-box-shadow 0px 0px 5px 0px #000

.select
 text-align center
 border 1px solid transparent

.option
 cursor pointer
 float left
 margin 10px
 //background-color acquaProfonda
 border-radius 20px
 width 120px
 height 120px
 //background-image -webkit-linear-gradient(top, acquaProfonda 0%, abisso 100%)
 //background-image url(/images/noise.png)
 background-color rgba(255, 255, 255, 0.2)
 box-shadow inset rgba(255, 255, 255, 0.6) 0px 2px 5px 1px, rgba(0, 0, 0, 1) 0px 2px 5px

.option:hover
 margin 10px
 width 120px
 height 120px
 background-color rgba(255, 255, 255, 0.6)
 -webkit-transition-property: width, height, margin, background;  
 -webkit-transition-duration: .3s, .3s, .3s, .3s;  
 -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;  

.option .value
 display none

.option .head
 font-size 32px
 margin-top 25px
 background-color acquaProfonda
 color: transparent;
 -webkit-background-clip: text;
 background-color: abisso;
 text-shadow: rgba(255, 255, 255, 0.5) 0px 2px 2px;

#status
 //text-align center
 font-size 32px
 height 60px
 position fixed
 right -10px
 bottom 0px
 left -10px
 background-image -webkit-linear-gradient(top, acquaProfonda 0%, abisso 100%)
 -webkit-box-shadow inset 0px 5px 10px 0px #000

#transfer
 margin-left auto
 margin-right auto
 width 700px
 height 60px
 //border 1px solid red

#transfer div
 float left
 margin-top 10px

#transfer .title
 margin-left 40px

#transfer .label
 color transparent
 -webkit-background-clip: text;
 //background-color white
 background-color: terraTerra;
 text-shadow: rgba(0, 0, 0, 0.3) 0px -2px 2px;

#transfer .progress
 float left
 width 300px
 height 30px
 margin 10px 20px 0px 20px
 border-radius 10px
 padding 5px
 background-image -webkit-linear-gradient(top, abisso 0%, acquaProfonda 120%)
 -webkit-box-shadow inset 0px 0px 10px 0px #000

#transfer .done
 margin 0px
 width 0px
 height 30px
 border-radius 10px
 background-image -webkit-linear-gradient(top, acqua 0%, acquaProfonda 100%)

#transfer .available
 width 120px

#transfer .upgrade
 cursor pointer
 width 40px
 height 40px
 font-size 32px
 //font-weight bold
 //background-color rgb(3, 101, 100) - 100
 box-shadow inset rgba(255, 255, 255, 0.5) 0px 2px 2px, inset rgba(0, 0, 0, 0.5) 0px -1px 1px 2px
 //border 1px solid abisso
 background-color acqua
 border-radius 20px
 padding 0px
 margin-left 20px
 vertical-align middle
 padding-bottom 1px

#transfer .plus
 float none
 vertical-align middle
 margin-top -1px
 text-align center

