@import palette

body
 font 24px "Lucida Grande", Helvetica, Arial, sans-serif
 background terraTerra url(/images/noise.png)
 -webkit-user-select none
 margin 0px
 padding 0px

.label
 color inherit
 background-color transparent

a
 color inherit
 text-decoration none

img
 border 0px

.template
 display none

.file
 display none
 width 128px
 position absolute
 background transparent
 z-index 1

.file .icon
 height 128px
 width 128px
 background url('/images/file.png') center center no-repeat
 text-align center
 padding 0px
 border 1px solid transparent
 border-radius 10px

.file .name
 font-size: 18px
 color black
 text-align: center

.file .progress
 display none
 background-color transparent
 width 70px
 height 20px
 margin 86px 24px 20px 24px
 border-radius 10px
 padding 5px

.file .done
 width 5px
 height 20px
 border-radius 10px
 margin 0px
 padding 0px
 background-color terra
 box-shadow inset 0px 1px 1px 0px #000

#user
 position absolute
 top 10px
 right 10px
 border-radius 10px

#user .icon
 width 50px
 height 50px
 border-radius 10px
 vertical-align middle
 -webkit-box-shadow 0px 2px 2px 0px #000

#user .name
 font-size: 24px
 margin-left: 10px
 vertical-align: middle
 padding 0px 10px 0px 10px

#upload
 display none
 cursor pointer
 position fixed
 top 10px
 left 50%
 width 120px
 height 50px
 margin-left -(@width / 2)
 border-radius 10px
 background-color rgba(255, 255, 255, 0.2)
 box-shadow inset rgba(255, 255, 255, 0.6) 0px 2px 5px 1px, rgba(0, 0, 0, 1) 0px 2px 5px

#upload .label
 position absolute
 text-align center
 top 0px
 left 0px
 width 100px
 margin 10px
 
#upload input
 position absolute
 top 0px
 width 120px
 height 50px
 opacity 0

.login
 display none
 cursor pointer
 border-radius 10px

.info
 display none

.info .logout
 display none
 cursor pointer
 position fixed
 top 45px
 right 20px
 font-size 14px

#headline
 display none
 font-size 32px
 position fixed
 top 70px
 right 0px
 bottom 70px
 left 0px
 text-align center
 vertical-align middle
 padding-top 100px
 z-index -2

#dropbox
 //font-size 32px
 position fixed
 top 0px
 right 0px
 bottom 70px
 left 0px
 //text-align center
 //display table-cell
 //vertical-align middle
 //padding-top 100px
 overflow auto
 overflow-x hidden
 z-index -2

#trash
 display none
 position fixed
 right 0px
 bottom 70px
 background-color red
 height 200px
 width 200px
 background url(/images/trash.png) center center no-repeat
 z-index -1

#pay
 position fixed
 display none
 left 0px
 right 0px
 bottom 200px
 //border 1px solid red
 text-align center
 width 422px
 height 145px
 margin auto
 background terraTerra url(/images/noise.png)
 //border 1px solid red
 border-radius 20px

.select
 text-align center
 border 1px solid transparent

.option
 cursor pointer
 float left
 margin 10px
 border-radius 20px
 width 120px
 height 120px
 background-color rgba(255, 255, 255, 0.2)
 box-shadow inset rgba(255, 255, 255, 0.6) 0px 2px 5px 1px, rgba(0, 0, 0, 1) 0px 2px 5px

.option:hover
 background-color rgba(255, 255, 255, 0.6)
 -webkit-transition-property: width, height, margin, background;  
 -webkit-transition-duration: .3s, .3s, .3s, .3s;  
 -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;  

.option .value
 display none

.option .head
 font-size 32px
 margin-top 25px
 color inherit
 background-color transparent

#status
 //text-align center
 font-size 32px
 height 60px
 position fixed
 right 0px
 bottom 0px
 left 0px
 background-image linear-gradient(60px top, black 0%, acquaProfonda 5%, abisso 100%)
 //box-shadow inset 0px 5px 10px 0px #000 

#transfer
 margin-left auto
 margin-right auto
 width 700px
 height 60px
 //border 1px solid red

#transfer div
 float left
 margin-top 10px

#transfer .title
 margin-left 40px

#transfer .label
 color rgb(232, 221, 203)
 background-color transparent

#transfer .progress
 float left
 width 300px
 height 30px
 margin 10px 20px 0px 20px
 border-radius 10px
 padding 5px
 background-image linear-gradient(top, abisso 0%, acquaProfonda 120%)
 box-shadow inset 0px 0px 5px 0px #000
 //border 1px solid red

@keyframes pulse
 0%
  -webkit-box-shadow 0px 0px 0px 0px #000
 100%
  -webkit-box-shadow 0px 0px 20px 0px #f00

.blink
 -webkit-animation-name: pulse;
 -webkit-animation-duration: 1s;
 -webkit-animation-iteration-count: 2;
 -webkit-animation-direction: alternate;
 -webkit-animation-timing-function: ease-out;

#transfer .done
 margin 0px
 width 0px
 height 30px
 border-radius 10px
 background-image linear-gradient(top, acqua 0%, acquaProfonda 100%)

#transfer .available
 width 120px

#transfer .upgrade
 cursor pointer
 width 40px
 height 40px
 font-size 32px
 //font-weight bold
 //background-color rgb(3, 101, 100) - 100
 box-shadow inset rgba(255, 255, 255, 0.5) 0px 2px 2px, inset rgba(0, 0, 0, 0.5) 0px -1px 1px 2px
 //border 1px solid abisso
 background-color acqua
 border-radius 20px
 padding 0px
 margin-left 20px
 vertical-align middle
 padding-bottom 1px

#transfer .plus
 float none
 vertical-align middle
 margin-top -1px
 text-align center

#notSupported
 margin auto
 margin-top 20px
 text-align center

 