@import palette

.label
 color transparent
 -webkit-background-clip text
 background-color black
 text-shadow terraTerraTransparent 0px 2px 2px

#transfer .label
 color transparent
 -webkit-background-clip text
 background-color terraTerra
 text-shadow rgba(0, 0, 0, 0.3) 0px -2px 2px

.option .head
 color transparent
 -webkit-background-clip text
 background-color abisso
 text-shadow rgba(255, 255, 255, 0.5) 0px 2px 2px

