#fb-root

.template
 .file(draggable='true')
  img.icon(src='/images/file.png', draggable='false')
  a(draggable='false')
   .name
  .progress

#user
 .login
  img(src='/images/facebook.png')
  span Login
 .logout
  img.icon
  span.name
  a(href='javascript:void(0);') Logout

#headline Drop your files here 
#dropbox
#trash

#pay
 #paypal
  form(action="https://www.paypal.com/cgi-bin/webscr", method="post")
   input(type="hidden", name="cmd", value="_s-xclick")
   input(type="hidden", name="hosted_button_id", value="#{paypal.button.id}")
   input(type="hidden", name="on0", value="Amount")
   .price
    select(name="os0")
     option(value="1Gb") 1Gb $0.99
     option(value="10Gb (save $1)") 10Gb (save $1)
     option(value="100Gb (save $30)") 100Gb (save $30)
   input(type="hidden", name="currency_code", value="USD")
   input(type="image", src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif", border="0", name="submit", alt="PayPal - The safer, easier way to pay online!")
   img(alt="", border="0", src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif", width="1", height="1")

#status
 #transfer
  .used
 #upgrade
  a(href='javascript:void(0);') Upgrade

