!!! 5
html
 head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(src='//static.ak.fbcdn.net/connect/en_US/core.js')
  script(type='text/javascript', src='/javascripts/jquery.js');
  script(type='text/javascript', src='/javascripts/script.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  // script(type='text/javascript',src='/javascripts/EventHelpers.js')
  // script(type='text/javascript',src='/javascripts/DragDropHelpers.js')
  // script(type='text/javascript') DragDropHelpers.fixVisualCues=true;
  script(type='text/javascript')
   _gaq.push(['_setAccount', '#{ga.account}']);
   _gaq.push(['_trackPageview']);
 body!= body
