body {
 padding: 10px;
 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.template {
 display: none;
}

.file {
 width: 128px;
 float: left;
}

.file .name {
 text-align: center;
}

.fb-login-button {
 position: absolute;
 top: 10px;
 right: 10px;
}

#dropbox {
 margin: auto;
 height: 128px;
 width: 128px;
 border: 10px dashed;
 border-radius: 10px;
 text-align: center;
}

a#toDrag, div#toDrag, #dropTarget {
	font-size: 20px;
	border: solid 1px blue;
	background: white;
	width: 100px;
	padding: 1em;
	display: block;
    color: #000099;
    position: relative;
    font-family: "Times New Roman", serif;
    
}

a#toDrag, div#toDrag {
	background-color: red;	
}